@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Source Sans 3', system-ui, sans-serif;
  color: #422006;
  background-color: #fdf6e3;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fdf6e3;
  color: #422006;
}

h1,
h2,
h3,
h4 {
  font-family: 'Merriweather', 'Georgia', serif;
}

* {
  box-sizing: border-box;
}
